accelerate==0.33.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1713964843148/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
aiosqlite==0.20.0
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1705179948871/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anthropic==0.28.1
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1717693030552/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1695386553988/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-generator==1.10
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1690563019058/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1702422572539/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1714119615394/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
bqplot @ file:///home/conda/feedstock_root/build_artifacts/bqplot_1708360961663/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1714071803448/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1721091878889/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1720457958366/work/certifi
certipy==0.1.3
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001724357/work
cfgv==3.4.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chromedriver-autoinstaller==0.6.4
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle==3.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1717678605937/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1717678526951/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429897138/work
cowsay==6.1
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1717559408348/work
cssselect==1.2.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
dask==2024.7.1
dataclasses-json==0.6.7
db-dtypes @ file:///home/conda/feedstock_root/build_artifacts/db-dtypes_1702356649613/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1707444446407/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepmerge==1.1.1
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.14
dirtyjson==1.0.8
distlib==0.3.8
distributed==2024.7.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dnspython==2.6.1
dogpile.cache==1.1.8
dparse @ file:///home/conda/feedstock_root/build_artifacts/dparse_1687803182432/work
easyocr==1.7.1
ebcdic==1.1.1
email_validator==2.2.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
epo-tipdata-epab==1.0.3
epo-tipdata-ops==0.1.0
epo.tipdata.patstat==0.1.12
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
faiss-cpu==1.8.0
fancycompleter==0.9.1
fastapi==0.111.1
fastapi-cli==0.0.4
fastavro @ file:///home/conda/feedstock_root/build_artifacts/fastavro_1720472293965/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1718477020893/work/dist
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.15.4
fiona @ file:///home/conda/feedstock_root/build_artifacts/fiona_1722411544408/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1690833614949/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1718605969954/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1720359030008/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1715092776266/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645450877/work
fsspec==2024.6.1
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
GDAL @ file:///home/conda/feedstock_root/build_artifacts/libgdal-core_1722369472333/work/build/swig/python
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1714335488963/work
gitdb==4.0.11
GitPython==3.1.43
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1719307021830/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1720518315193/work
google-cloud-bigquery @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-bigquery-split_1718986210883/work
google-cloud-bigquery-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-bigquery-storage-split_1715953179079/work
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1702002980770/work
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1721718721223/work
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1695545283334/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1702437055406/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1719306277169/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1703201578921/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1713388282847/work
grpcio-status @ file:///home/conda/feedstock_root/build_artifacts/grpcio-status_1713541271646/work
gunicorn==22.0.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
html2text==2024.2.26
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httptools==0.6.1
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
huggingface-hub==0.24.6
humanize==4.10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
identify==2.6.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
imageio==2.35.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1719171233697/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
ipdb==0.13.13
ipydatagrid @ file:///home/conda/feedstock_root/build_artifacts/ipydatagrid_1716402110639/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1717717528849/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1717182742060/work
ipython-autotime==0.1
ipython_genutils @ file:///home/conda/feedstock_root/build_artifacts/ipython_genutils_1716278396992/work
ipyvue==1.11.1
ipyvuetify==1.9.4
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1716897651763/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1702518492027/work
isoweek==1.3.3
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jieba3k==0.35.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jiter==0.5.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1712986206667/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpath-ng==1.6.1
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1718283368205/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1714573116818/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1710805637316/work
jupyter-kernel-gateway==2.5.2
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1712707420468/work/jupyter-lsp
jupyter-resource-usage==1.0.14
jupyter-server-mathjax==0.2.6
jupyter-telemetry @ file:///home/conda/feedstock_root/build_artifacts/jupyter_telemetry_1605173804246/work
jupyter-vscode-proxy @ file:///opt/docker_resources/jupyter-vscode-proxy
jupyter_ai==2.20.0
jupyter_ai_magics==2.20.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1710257359434/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1717122053158/work
jupyter_server_proxy==4.3.0
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1710262634903/work
jupyterhub @ file:///home/conda/feedstock_root/build_artifacts/jupyterhub-feedstock_1712274897296/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1718030272761/work
jupyterlab-language-pack-de-DE==3.6.post3
jupyterlab-language-pack-fr-FR==3.6.post3
jupyterlab4_bookmarks_extension==1.0.0
jupyterlab_code_formatter @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_code_formatter_1721673812715/work
jupyterlab_epo_customizations==2.0.0
jupyterlab_git==0.50.1
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1707149102966/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server-split_1716433953404/work
jupyterlab_theme_solarized_dark==3.0.1
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1716891641122/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379920604/work
kubernetes @ file:///home/conda/feedstock_root/build_artifacts/python-kubernetes_1704824513563/work
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.25
langchain-text-splitters==0.2.2
langsmith==0.1.94
lazy_loader==0.4
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1711394305528/work/libmambapy
llama-cloud==0.0.17
llama-index==0.11.7
llama-index-agent-openai==0.3.1
llama-index-cli==0.3.0
llama-index-core==0.11.7
llama-index-embeddings-huggingface==0.3.1
llama-index-embeddings-openai==0.2.4
llama-index-indices-managed-llama-cloud==0.3.0
llama-index-legacy==0.9.48.post3
llama-index-llms-anthropic==0.3.0
llama-index-llms-openai==0.2.3
llama-index-multi-modal-llms-openai==0.2.0
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.1
llama-index-readers-llama-parse==0.3.0
llama-index-readers-web==0.2.2
llama-parse==0.5.2
locket==1.0.0
lxml==5.2.2
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1715711344987/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1721848372100/work
markdown-it-py==3.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899926732/work
marshmallow==3.21.3
matplotlib==3.9.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
matplotlib-venn==1.0.0
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mdurl==0.1.2
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1718088282102/work
minijinja==2.2.0
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1698947099619/work
mpmath==1.3.0
msgpack==1.0.8
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040702345/work
munkres==1.1.4
mypy==1.11.1
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1716838762700/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1710317608672/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1718135430380/work
nbdime==4.0.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1712238998817/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
newspaper3k==0.2.8
ninja==1.11.1.1
nltk==3.9.1
nodeenv==1.9.1
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1715848908871/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1707957777232/work
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
openai==1.44.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
orjson==3.10.6
outcome==1.3.0.post0
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1706394519472/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pamela @ file:///home/conda/feedstock_root/build_artifacts/pamela_1691565434937/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897625506/work
pandas-read-xml==0.3.1
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
partd==1.4.2
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1702249949303/work
pbr==6.0.0
pdbpp==0.10.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1719903554938/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
playwright==1.46.0
plotly==5.23.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
ply==3.11
polars @ file:///home/conda/feedstock_root/build_artifacts/polars_1719836005222/work
pre-commit==3.8.0
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1707932675456/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
proto-plus @ file:///home/conda/feedstock_root/build_artifacts/proto-plus_1702003338643/work
protobuf==4.25.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1705722403006/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py2vega @ file:///home/conda/feedstock_root/build_artifacts/py2vega_1614765500626/work
pyarrow==17.0.0
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1713209357222/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1713209683338/work
pyclipper==1.3.0.post5
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1697202867721/work
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758146/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pycurl @ file:///home/conda/feedstock_root/build_artifacts/pycurl_1710066807136/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1718228705123/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1717462792814/work
pyee==11.1.0
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1690656279496/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1706895065046/work
pynvml==11.5.3
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1706660063483/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
pypdf==4.3.1
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1722370416278/work
pyrepl==0.9.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1721923606331/work
python-bidi==0.6.0
python-box==7.2.0
python-dateutil==2.8.2
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
python-epo-ops-client==4.1.0
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-multipart==0.0.9
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373611984/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1715024370414/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
regex==2024.7.24
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-file==2.1.0
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1711290127547/work
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich==13.7.1
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1715090025935/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
Rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1720728554891/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1707298093865/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1707314491256/work
safetensors==0.4.4
safety @ file:///home/conda/feedstock_root/build_artifacts/safety_1670491074076/work
scikit-image==0.24.0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1719998107382/work/dist/scikit_learn-1.5.1-cp311-cp311-linux_x86_64.whl#sha256=149fab54f11e79470f037b956bb6061954107c264039bb95b7412ab36f06c972
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1720323007424/work/dist/scipy-1.14.0-cp311-cp311-linux_x86_64.whl#sha256=1555805d3d22eadcd79d8bbf4de2865c7ad881feceb57d3c2d91ec2469d4acf7
selenium==4.24.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1712584999685/work
sentence-transformers==3.0.1
sgmllib3k==1.0.0
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1720886158574/work
shellingham==1.5.4
simpervisor==1.0.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
sortedcontainers==2.4.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
spider-client==0.0.27
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1697018573934/work
sqlalchemy-bigquery @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy-bigquery_1709190892305/work
sqlparse==0.5.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.37.2
stevedore==5.2.0
striprtf==0.0.26
svgwrite==1.4.3
sympy==1.13.2
tabulate==0.9.0
tblib==3.0.0
tenacity==8.5.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1710262609923/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile==2024.8.30
tiktoken==0.7.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1713974937325/work
tinysegmenter==0.3
tldextract==5.1.2
tokenizers==0.19.1
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz==0.12.1
torch==2.4.0
torchvision==0.19.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1717722848697/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
traittypes @ file:///home/conda/feedstock_root/build_artifacts/traittypes_1600843364635/work
transformers==4.44.2
trio==0.26.2
trio-websocket==0.11.1
triton==3.0.0
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
typer==0.12.3
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1710589910274/work
typing-inspect==0.9.0
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718728347128/work
uvicorn==0.30.3
uvloop==0.19.0
virtualenv==20.26.3
voila @ file:///home/conda/feedstock_root/build_artifacts/voila_1716470345009/work
watchfiles==0.22.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1717667289718/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1713923384721/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1697914680106/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1716891659446/work
wmctrl==0.5
wrapt==1.16.0
wsproto==1.2.0
xmltodict==0.13.0
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1717752109663/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508295175/work
zict==3.0.0
zipfile36==0.1.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
zstandard==0.22.0
